a {
    color: #000;
    text-decoration: unset !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

body {
    color: #172B4D !important;
}

.min-height-fit {
  min-height: inherit;
}

.bg-none {
  background-color: unset !important;
}

.btn-white {
  i {
    color: #fff;
  }
}

.auth {

  &-alret {
    color: #C10015;
    font-size: 12px;
  }

  &-link {
    color: #11CDEF;
  }

  &-bg {
    background-color: #263642;
  }

  &-desc {
    margin-top: 23px;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;

    a {
      color: #11CDEF;
    }
  }
}

.icon {
  &-input {
    .q-field__prepend {
      padding-left: 20px;
      padding-right: 0px;
    }
  }
}

.l {
    background-color: #F1F3F9;
    &-hd {
        background-color: #263642;
    }
    &-sb {
        &-logo {
            font-size: 25px;
            font-weight: bold;
            color: #172B4D;
            text-align: center;
        }

        .q-list {
            &>.q-item {
                margin-bottom: 20px;
            }
        }

        .active-sb {
            color: #7764E4;
        }
    }
    &-signup {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: #F7FAFC;
      &-wr {

        &-ttl {
          margin: 0px;
          line-height: 1.167;
          color: #172B4D;
          font-size: 25px;
          font-weight: 700;
          text-align: center;
        }
        &-desc {
          color: #172B4D;
          font-family: GothamBook, sans-serif;
          font-weight: 350;
          font-size: 15px;
          text-align: center;
          margin-top: 10px;
        }
        &-form {
          margin-top: 40px;
          .auth-input {
            margin-bottom: 20px;
            input {
              font-size: 16px;
              padding: 15px 20px;
            }
            .q-field__label {
              font-size: 16px;
              left: 20px;
            }

            .q-field--float {
              .q-field__label {
                left: 20px;
                top: 12px;
              }
            }
            
            .q-field__after, 
            .q-field__append {
              padding-right: 10px;
            }

            .q-field__control {
              &::before {
                background-color: #fff;
                box-shadow: 0 1px 8px #0003,0 3px 4px #00000024,0 3px 3px -2px #0000001f;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
              }
            }
          }

          .auth-submit {
            margin-top: 20px;
            button {
              color: #fff;
              background-color: #11CDEF;
            }
          }
        }
      }
    }
}

.common {
  &-card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &-ttl {
      color: #172B4D;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &-input {
    margin-top: 30px;

    &-label {
      color: #172B4D;
      font-size: 15px;
    }

    &-text {
      margin-top: 10px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      &.q-field--disabled {
        input {
          color: #696E7B;
          background-color: #B5BFCA;
        }
      }

      input {
        color: #8898AA;
        font-size: 15px;
        padding: 15px 20px;
        border: 1px solid #172B4D ;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;

        &:focus {
          border-color: #7764E4;
        }
      }

      .q-field__control {
        padding: 0px !important;
      }
    }
  }

  &-select {
    margin-top: 10px;
    border: 1px solid #172B4D ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;

    .q-field__native {
      font-size: 15px;
      padding: 15px 20px;

      span {
        color: #8898AA;
      }
    }

    &.p-sm {
      margin-top: 0px;

      .q-field__control {
        height: 39px;
        min-height: unset;
      }

      .q-field__native {
        font-size: 15px;
        padding: 0px 20px;
        min-height: unset;
      }

      .q-field__marginal {
        height: 39px;
      }
    }
  }

  &-checkbox {
    .q-checkbox__bg {
      border: 2px solid #7764E4;
    }

    .q-checkbox__inner--truthy {
      color: #fff !important;
    }

    .q-checkbox__svg {
      color: #7764E4;
    }
  }

  &-anchor {
    color: #7764E4;
  }
}

.btn-common {
  font-weight: 500;
  color: #7764E4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  &::before {
    border-color: #7764E4;
  }

  &:hover {
    color: #fff;
    &::before {
      background-color: #7764E4;
    }
  }

  span {
    font-weight: normal;
  }
  
}

.page-ttl.q-toolbar__title {
    font-size: 25px !important;
    font-weight: bold !important;
  }

  .index-table {

    .q-table__title {
      color: #172B4D;
      font-size: 18px;
      font-weight: 500;
    }

    thead {
      font-size: 11px;
      color: #8898AA;
      background-color: #F1F3F9;
    }

    tbody {
      color: #172B4D;
      tr {
        td:first-child {
          font-weight: bold;
        }
      }

      tr:nth-child(even) {
        background-color: #F7FAFC;
      }
    }
  }

  .white-select {

    div.q-field__control-container.col.relative-position.row.no-wrap.q-anchor--skip > div > span {
      color: white !important;
    }
    
    .q-icon.notranslate.material-icons.q-select__dropdown-icon {
      color: white !important;
    }
  }
